@font-face {
  font-family: 'Milkyway';
  src: url('Milkyway.ttf') format('truetype');
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8a8c8;
  overflow: hidden;
  font-family: 'Milkyway'', cursive;
}

.frame {
  border: 10px solid #ff69b4;
  padding: 40px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.gallery-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 400px;
  border: 10px solid #ff69b4;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbook {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbook img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.flipbook img.active {
  opacity: 1;
}

#hedlinecontainer {
  margin-bottom: 20px;
}

#shine {
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 20, 147, 0.8);
  text-shadow: 0 0px 0px rgba(233, 85, 189, 0.419);
}

.button-container {
  margin-top: 40px;
}

.btn {
  background-color: #ff69b4;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #d14791;
}

.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #ff69b4;
  font-weight: bold;
}

@media (max-width: 600px) {
  #shine {
    font-size: 30px;
  }

  .frame {
    width: 95%;
    padding: 20px;
  }

  .gallery-frame {
    max-width: 300px;
    height: 300px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
